.f-works {
    display: flex;
    flex-direction: column;
    text-align: center;

    &_header {
        padding-top: 7.5rem;
        padding-bottom: 7rem;
        padding-left: 1.4rem;
    }
    &_images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 7.5rem;

        &_each {
            padding: 0.45rem;
        }
    }
}

.popup {
    visibility: hidden;
    position: absolute;
    z-index: 1;
}
.show {
    margin-top: 10rem;
    max-width: 1000px;
    box-shadow: 20px 20px 10px rgba(0,0,0,0.5);
    visibility: visible;
    transition: all 1s;
}